body {
    margin: 30px;
    background-color: whitesmoke;
}

.text {
    font-family: sans-serif;
    font-size: 17px;
}

.box {
    display: inline-block;
    border: 2px solid #195be9;
    border-radius: 35px;
    box-sizing: border-box;
    margin: 2px;
}

.info {
    padding: 35px;
}

.upper {
    background-color: rgb(225 225 225 / 46%);
    border-radius: 16px;
    width: 100%;
    height: 60px;
    font-size: 12px;
    display: inline-flex;
}

.lower {
    padding-left: 5px;
    padding-top: 5px;
    display: subgrid;
}

.left1 {
    padding-left: 10px;
    padding-top: 10px;
}

.right1 {}

.right11 {
    padding-left: 4px;
    text-align: left;
    margin-bottom: -3px;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 11px;
    line-height: 18px;
    font-weight: 300;
    font-family: monospace;
}

.right12 {
    padding-right: 10px;
    margin-left: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: inherit;
    text-align: left;
    padding-top: 2px;
    font-family: sans-serif;
}

.role {
    display: flex;
}

.left2 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.right2 {
    margin-left: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: inherit;
    text-align: left;
    padding-top: 2px;
    font-family: sans-serif;
}

.date {
    display: inline-flex;
}

.left3 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.right3 {
    margin-left: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: inherit;
    text-align: left;
    padding-top: 2px;
    font-family: sans-serif;
}

.more {
    position: absolute;
    left: 67px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-transform: revert;
    color: #000000;
}